
.wrap {
    width: 150px;
    height: 450px;
    background: linear-gradient(to bottom right,#ffc3a0,#ffafbd);
    flex-direction: column;
    border-radius: 10px;
    gap: 30px;
}

.block{
    width: 120px;
    height: 120px;
    padding:2px 2px;
    flex-direction: column;
}

.selectColor {
    border-radius: 10px;
    background-color: #ff758c;
}

.countStyle {
    font-size: 20px;
}

@media screen and (max-height: 768px) {
  .wrap {
      width: 150px;
      height: 400px;
      background: linear-gradient(to bottom right,#ffc3a0,#ffafbd);
      flex-direction: column;
      border-radius: 10px;
      gap: 20px;
  }

  .block{
      width: 110px;
      height: 110px;
      padding:2px 2px;
      flex-direction: column;
  }

  .countStyle {
    font-size: 16px;
  }

  .selectColor {
      border-radius: 8px;
      background-color: #ff758c;
  }
}

@media screen and (max-width: 768px) {
    .wrap {
        width: 45px;
        height: 200px;
        margin: 10px 0px;
        background: linear-gradient(to bottom right,#ffc3a0,#ffafbd);
        flex-direction: column;
        border-radius: 10px;
        gap: 10px;
    }

    .block{
        width: 45px;
        height: 65px;
        padding:2px 0px;
        flex-direction: column;
    }

    .countStyle {
        font-size: 8px;
    }

    .selectColor {
        border-radius: 5px;
        background-color: #ff758c;
    }
}
