
.wrap {
    width: 150px;
    height: 450px;
    background: linear-gradient(to bottom right,#ffc3a0,#ffafbd);
    flex-direction: column;
    border-radius: 10px;
    gap: 30px;
}

.block{
    width: 120px;
    height: 120px;
    flex-direction: column;
}

.selectColor {
    border-radius: 10px;
    background-color: #ff758c;
}

.countStyle {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .wrap {
        width: 70px;
        height: 300px;
        margin: 10px 0px;
        background: linear-gradient(to bottom right,#ffc3a0,#ffafbd);
        flex-direction: column;
        border-radius: 10px;
        gap: 15px;
    }
    
    .block{
        width: 70px;
        height: 70px;
        flex-direction: column;
    }

    .countStyle {
        font-size: 12px;
    }
}