.wrap {
    width: 100%;
    margin-top: 5px;
    gap: 10px;
}

.inputStyle {
    width: 30px;
    height: 20px;
}

.stepStyle {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .wrap {
        width: 100%;
        margin-top: 10px;
        gap: 2px;
    }
    .stepStyle {
        font-size: 12px;
    }
    .inputStyle {
        width: 25px;
        height: 20px;
    }
}
