<div class="wrap">
  <div class="playView">
    <ng-container *ngFor="let item of viewData;let i = index">
      <div [ngClass]="item.className" (click)="action(item.className)">{{item.data | displayPipe}}</div>
    </ng-container>
  </div>
  <div class="menu" *ngIf="mode === 'record'">
    <button class="backStyle" (click)="last()">上一步</button>
    <button class="backStyle" (click)="back()">回上頁</button>
    <button class="backStyle" (click)="next()">下一步</button>
  </div>
  <div class="menu" *ngIf="mode === 'battle'">
    <button class="backStyle" (click)="back()">回上頁</button>
    <button class="backStyle" (click)="renewGame()">重置遊戲</button>
  </div>
  <div class="winStyle" *ngIf="whoWin !== 0">{{whoWin | winerPipe}}</div>
</div>
