.wrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.menu {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.backStyle{
  border: none;
  border-radius: 10px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;

  background-position: center;
  transition: background 0.8s;

}
.backStyle:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.winStyle{
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  font-size: 4em;
}
.idStyle{
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}
.board{
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.playView {
  width: 450px;
  height: 450px;
  margin-top: 50px;
  display: grid;
  grid-template-areas:
			"area0 area1 area2"
			"area3 area4 area5"
			"area6 area7 area8"
		;
  }
.square0 {
  grid-area: area0;
  width: 150px;
  height: 150px;
  border-right: 1px solid #252a34;
  border-bottom: 1px solid #252a34;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.square1 {
  grid-area: area1;
  width: 150px;
  height: 150px;
  border-left: 1px solid #252a34;
  border-right: 1px solid #252a34;
  border-bottom: 1px solid #252a34;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.square2 {
  grid-area: area2;
  width: 150px;
  height: 150px;
  border-left: 1px solid #252a34;
  border-bottom: 1px solid #252a34;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.square3 {
  grid-area: area3;
  width: 150px;
  height: 150px;
  border-right: 1px solid #252a34;
  border-top: 1px solid #252a34;
  border-bottom: 1px solid #252a34;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.square4 {
  grid-area: area4;
  width: 150px;
  height: 150px;
  border-left: 1px solid #252a34;
  border-right: 1px solid #252a34;
  border-top: 1px solid #252a34;
  border-bottom: 1px solid #252a34;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.square5 {
  grid-area: area5;
  width: 150px;
  height: 150px;
  border-left: 1px solid #252a34;
  border-top: 1px solid #252a34;
  border-bottom: 1px solid #252a34;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.square6 {
  grid-area: area6;
  width: 150px;
  height: 150px;
  border-right: 1px solid #252a34;
  border-top: 1px solid #252a34;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.square7 {
  grid-area: area7;
  width: 150px;
  height: 150px;
  border-left: 1px solid #252a34;
  border-right: 1px solid #252a34;
  border-top: 1px solid #252a34;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.square8 {
  grid-area: area8;
  width: 150px;
  height: 150px;
  border-left: 1px solid #252a34;
  border-top: 1px solid #252a34;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}