.leftStyle {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 0px;
    left: 0px;
    /* transform: translate(-50%,-50%); */
}

.rightStyle {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
    /* transform: translate(-50%,-50%); */
}

.imgStyle {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 768px) {
    .imgStyle {
        width: 150px;
        height: 150px;
    }
}