.wrap{
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.menu {
    width: 100%;
    height: auto;
    margin-top: 10px;
    gap: 20px;
}

.winStyle{
    width: 100%;
    height: auto;
    margin-top: 10px;
    flex-direction: column;
    font-size: 3em;
}

.idStyle{
    width: 100%;
    height: auto;
    margin-top: 10px;
    flex-direction: column;
    font-size: 20px;
}

.board{
    width: 100%;
    gap: 40px;
}

.statusStyle {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
        margin-top: 10px;
        gap: 10px;
    }
    .statusStyle {
        font-size: 12px;
    }
    .board{
        width: 100%;
        gap: 10px;
    }
    .winStyle{
        width: 100%;
        height: auto;
        margin-top: 10px;
        flex-direction: column;
        font-size: 20px;
    }
}