<div class="wrap flexCenter">
    <div class="board flexCenter">
        <app-pick *ngIf="mode === 'battle'" [pickData]="oData" [sign]="markO" (choseItem)="getChose($event)" [style.opacity]='(nowSign === markO) ? 1 : .5'></app-pick>
        <app-picture [viewData]="viewData" [signO]="markO" [signX]="markX" (pictureAction)="action($event)"></app-picture>
        <app-pick *ngIf="mode === 'battle'" [pickData]="xData" [sign]="markX" (choseItem)="getChose($event)" [style.opacity]='(nowSign === markX) ? 1 : .5'></app-pick>
    </div>
    <div class="menu flexCenter" *ngIf="mode === 'record'">
        <button class="generalStyle" (click)="last()">上一步</button>
        <button class="backStyle" (click)="toBattle()">回到對戰模式</button>
        <button class="generalStyle" (click)="next()">下一步</button>
    </div>
    <div class="menu flexCenter" *ngIf="mode === 'battle'">
        <div class="statusStyle">{{status}}</div>
        <button class="generalStyle" (click)="changeStatus()">切換點擊/拿取</button>
        <button class="backStyle" (click)="renewGame()">重置遊戲</button>
        <button class="backStyle" (click)="robotPlay()">和電腦對戰</button>
    </div>
    <div class="winStyle flexCenter" *ngIf="whoWin !== 0">{{whoWin | winerPipe:markO:markX}}</div>
    <div class="winStyle flexCenter" *ngIf="whoWin === 0">{{stepMessage}}</div>
    <app-note (noteAction)="toRecord($event)"></app-note>
    <!-- <div class="flexCenter">test</div> -->
</div>
<app-test1></app-test1>