/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

.flexCenter {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}