/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

.flexCenter {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bigSize {
    font-size: 5em;
}

.mediumSize {
    font-size: 3em;
}

.smallSize {
    font-size: 1em;
}

.generalStyle{
    border: none;
    border-radius: 10px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: rgb(101 163 13);
    box-shadow: 0 0 4px #999;
    outline: none;
    background-position: center;
    transition: background 0.8s;
}

.generalStyle:hover {
    background: rgb(138, 196, 58) radial-gradient(circle, transparent 1%, rgb(138, 196, 58) 1%) center/15000%;
}

.backStyle{
    border: none;
    border-radius: 10px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
    background-position: center;
    transition: background 0.8s;
}

.backStyle:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.robotStyle{
    border: none;
    border-radius: 10px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #e91a1a;
    box-shadow: 0 0 4px #999;
    outline: none;
    background-position: center;
    transition: background 0.8s;
}

.robotStyle:hover {
    background: #f07474 radial-gradient(circle, transparent 1%, #f07474 1%) center/15000%;
}

@media screen and (max-width: 768px) {
    .bigSize {
        font-size: 32px;
    }

    .mediumSize {
        font-size: 24px;
    }

    .smallSize {
        font-size: 12px;
    }

    .generalStyle{
        border: none;
        border-radius: 5px;
        padding: 2px 4px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        background-color: rgb(101 163 13);
        box-shadow: 0 0 4px #999;
        outline: none;
        background-position: center;
        transition: background 0.8s;
    }

    .backStyle{
        border: none;
        border-radius: 5px;
        padding: 2px 4px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        background-color: #2196f3;
        box-shadow: 0 0 4px #999;
        outline: none;
        background-position: center;
        transition: background 0.8s;
    }

    .robotStyle{
        border: none;
        border-radius: 5px;
        padding: 2px 4px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        background-color: #e91a1a;
        box-shadow: 0 0 4px #999;
        outline: none;
        background-position: center;
        transition: background 0.8s;
    }
}
